.Button {
	display: flex;
	border: none;
	padding: 8px 10px;
	border-radius: 25px;
	background-color: #1DB954;
	color: #fff;
	transition: .3s;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	justify-content: center;
}

.Button:hover {
	background-color: #1ed760;
	color: #fff;
}


@media only screen and (max-width: 600px) {
	.Button {
		/*padding: 8px 7vw;*/
		letter-spacing: 0px;
		font-size: 18px;
		border-radius: 5px;
		box-shadow: 1px 2px 1px 1px #000000;
	}
}